In [7]:
from selenium import webdriver
from selenium.webdriver.support.ui import Select
from bs4 import BeautifulSoup
import pandas as pd

In [48]:
browser = webdriver.Chrome()
browser.get('http://seleniumhq.org')

In [20]:
from selenium.webdriver.common.keys import Keys

In [47]:
browser = webdriver.Chrome()

browser.get('http://yahoo.com')
assert 'Yahoo' in browser.title

elem = browser.find_element_by_name('p')
elem.send_keys('seleniumhq' + Keys.RETURN)

browser.quit()

In [44]:
browser = webdriver.Chrome()
url = r'https://www.nba.com/stats/players/advanced/?sort=GP&dir=-1&Season=2020-21&SeasonType=Regular%20Season'
browser.get(url)
select = Select(browser.find_element_by_xpath(r'/html/body/main/div/div/div[2]/div/div/nba-stat-table/div[1]/div/div/select'))
select.select_by_index(0)

src = browser.page_source
parser = BeautifulSoup(src, 'lxml')
table = parser.find('div', attrs = {'class': 'nba-stat-table__overflow'})
headers = table.findAll('th')
header_list = [h.text.strip() for h in headers[1:]]
header_list1 = [a for a in header_list if not 'RANK' in a]

In [55]:
header_list1 = header_list1[:-5]

In [49]:
rows = table.findAll('tr')[1:]

In [51]:
player_stats = [[td.getText().strip() for td in rows[i].findAll('td')[1:]] for i in range(len(rows))]

In [56]:
stats = pd.DataFrame(player_stats, columns=header_list1)

In [59]:
stats.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 540 entries, 0 to 539
Data columns (total 23 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   PLAYER     540 non-null    object
 1   TEAM       540 non-null    object
 2   AGE        540 non-null    object
 3   GP         540 non-null    object
 4   W          540 non-null    object
 5   L          540 non-null    object
 6   MIN        540 non-null    object
 7   OFFRTG     540 non-null    object
 8   DEFRTG     540 non-null    object
 9   NETRTG     540 non-null    object
 10  AST%       540 non-null    object
 11  AST/TO     540 non-null    object
 12  AST Ratio  540 non-null    object
 13  OREB%      540 non-null    object
 14  DREB%      540 non-null    object
 15  REB%       540 non-null    object
 16  TO Ratio   540 non-null    object
 17  eFG%       540 non-null    object
 18  TS%        540 non-null    object
 19  USG%       540 non-null    object
 20  PACE       540 non-null    object
 21  PIE        540 non-null    object
 22  POSS       540 non-null    object
dtypes: object(23)
memory usage: 97.2+ KB

In [60]:
stats.head()

,PLAYER,TEAM,AGE,GP,W,L,MIN,OFFRTG,DEFRTG,NETRTG,...,OREB%,DREB%,REB%,TO Ratio,eFG%,TS%,USG%,PACE,PIE,POSS
0,Anthony Edwards,MIN,19,72,23,49,32.1,110.6,115.6,-5.0,...,2.3,12.1,7.0,9.4,48.8,52.3,26.4,102.71,9.4,"4,961"
1,Bojan Bogdanovic,UTA,32,72,52,20,30.8,116.8,107.3,9.5,...,1.8,9.9,6.0,9.8,53.6,58.8,22.5,99.94,9.4,"4,604"
2,Duncan Robinson,MIA,27,72,40,32,31.4,110.6,108.3,2.3,...,0.3,10.9,5.7,8.5,61.4,62.8,16.2,97.55,7.5,"4,602"
3,Dwayne Bacon,ORL,25,72,21,51,25.7,101.3,112.8,-11.4,...,1.5,10.2,5.6,4.9,44.3,49.0,19.3,100.39,6.9,"3,875"
4,Enes Kanter,POR,29,72,42,30,24.4,119.7,114.8,4.9,...,14.8,28.1,21.3,9.8,60.5,63.6,16.9,98.79,14.1,"3,607"

In [58]:
stats.to_csv('player_advanced_stats.csv')